<!DOCTYPE html>
<html>
<head>
  <title>Bookie</title>

    <link rel="stylesheet" href="css/stylesweb.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  <script src="js/application.js"></script>

<style>
  body {
  background-color: black;

}
</style>

</head>
<body>
<input type="hidden" id="refresh" value="no">
<script>
  var $input = $('#refresh');
  $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
</script>

  <main>
      <div class="movenav">
         <% if current_user %>
      <div class="headline auth"> Signed in as <%= current_user.email %> |  <%= link_to "Log out", session_path, :method => :delete %> </div>
      <% else %>
      <div class="headline auth"><%= link_to 'Login',  '/session/new', data: {toggle: "modal", target: "#test-modal"} %> |
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#test-modal">Sign Up</button>
     <!--  <%= link_to 'Signup', '/user/new', data: {toggle: "modal", target: "#test-modal"}  %> --> </div>
      <% end %>

          <!-- Button trigger modal -->






    <div class="modal fade" id="test-modal" data-modal-index="1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
       <%= form_for :user, url: '/user', :html => {:id => "my_sign_up_form"} do |f| %>
          Email: <%= f.text_field :email %>
          Password: <%= f.password_field :password %>

          <%= f.submit "Submit" %>
        <% end %>
             <button class="btn btn-default" data-toggle="modal" data-target="#test-modal-2">Next</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <div class="modal fade" id="test-modal-2" data-modal-index="2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Enter CC number</h4>
      </div>
      <div class="modal-body">
        <%= form_for :user, url: '/user' do |f| %>
          Credit Card: <%= f.text_field :credit_card %>

          <%= f.submit "Submit" %>
        <% end %>
        <button class="btn btn-default" data-toggle="modal" data-target="#test-modal-3">Next</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="modal fade" id="test-modal-3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Debit Card</h4>
        <h5>Debit card for recieving winnings</h5>
      </div>
      <div class="modal-body">
           <%= form_for :user, url: '/user' do |f| %>
          Debit Card: <%= f.text_field :debit_card %>

         <%= f.submit "Submit" %>
        <% end %>
        <input type="submit" value="Submit" form="my_sign_up_form">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->












    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>











      </div> <br> <br>

      <i class="fa fa-book fa-5x" aria-hidden="true"></i> <br>
      <strong>BOOKi</strong>
      <h2 class="headline">Place wagers on the latest sporting events</h2>
      <br>


     <!-- <div class="button"><%= link_to 'New User', new_user_path %> </div>
     <div class="button"><%= link_to 'Login', new_session_path %> </div> -->
     <div class="button"><%= link_to 'API test', game_index_path, method: 'post' %> </div>
     <div class="button"><%= link_to 'Credit Card Info', card_index_path %> </div> <br>

  </main>




<script>
$.backstretch([
      "http://8328-presscdn-0-65.pagely.netdna-cdn.com/wp-content/uploads/2013/05/golden-state-warriors-playoffs-denver-nuggets.jpg",
      // "http://wpmedia.news.nationalpost.com/2015/02/462638212.jpg",
      "http://www.hdwallpapersact.com/wp-content/gallery/cricket-stadium/lovely-sky-view-of-stadium-at-night.jpg",
      "http://static.nfl.com/static/content/public/pg-photo/2015/07/03/0ap3000000500076/gillette-stadium_pg_600.jpg",
       "http://ww3.hdnux.com/photos/36/72/01/8101998/3/rawImage.jpg"
  ], {duration: 2000, fade: 1500});
</script>
</body>
</html>
