<!DOCTYPE html>
<html>
<head>
	<title>Bookie</title>
	<link rel="stylesheet" href="css/stylesweb.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<script type="text/javascript">
	  Stripe.setPublishableKey('pk_test_1hu9TpDcLROmA57xB1jwxWNA');
	  //this is a fake key for testing purposes
	</script>

	<script src="js/application.js"></script>

	<style>
		body {
	  	background-color: black;
		}
	</style>
</head>
<body>
<%= render 'modal' %>
	<input type="hidden" id="refresh" value="no">

	<script>
	  var $input = $('#refresh');
	  $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
	</script>

  	<main>
    	<div class="movenav">
    		<% if current_user %>
    	<div class="headline auth"> Signed in as <%= current_user.email %> |  <%= link_to "Log out", session_path, :method => :delete %> </div>
    		<% else %>
    	<div class="headline auth"><%= link_to 'Login',  '/session/new', data: {toggle: "modal", target: "#login-modal"} %> |
          	<a href="#" data-toggle="modal" data-target="#test-modal">Sign Up</a>
    		<% end %>
    		<% if flash[:danger] %>
      	<div style="color: white;"><%= flash[:danger] %></div>
    		<% end %>

      	</div>
      	<br>
      	<br>

      <i class="fa fa-book fa-5x" aria-hidden="true"></i> <br>
      <strong>BOOKi</strong>
      <h2 class="headline">Place wagers on the latest sporting events</h2>
      <br>
    <div class="button"><%= link_to 'API test', game_index_path, method: 'post' %> </div>
    <div class="button"><%= link_to 'Credit Card Info', card_index_path %> </div> <br>
  	</main>

<script>
$.backstretch([
      "http://8328-presscdn-0-65.pagely.netdna-cdn.com/wp-content/uploads/2013/05/golden-state-warriors-playoffs-denver-nuggets.jpg",
      // "http://wpmedia.news.nationalpost.com/2015/02/462638212.jpg",
      "http://www.hdwallpapersact.com/wp-content/gallery/cricket-stadium/lovely-sky-view-of-stadium-at-night.jpg",
      "http://static.nfl.com/static/content/public/pg-photo/2015/07/03/0ap3000000500076/gillette-stadium_pg_600.jpg",
       "http://ww3.hdnux.com/photos/36/72/01/8101998/3/rawImage.jpg"
  ], {duration: 2000, fade: 1500});
</script>
</body>
</html>
